* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.hero {
    background-color: #007BFF;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
}

.cta-button {
    background-color: #701d0f;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #701d0f;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    background-color: #fff;
}

.feature-item {
    text-align: center;
    width: 30%;
}

.feature-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature-item h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 1.1em;
}

.news-section, .tutorials-section, .forum-section, .tools-section {
    padding: 60px 40px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-feed article {
    margin: 20px 0;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.footer-content {
    width: 10%;
    max-width: 10%;
    margin: 0 auto;
}

.footer-logo-thumbnail {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto; 
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1px;
}

footer ul li {
    margin-left: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}
